# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs

# Environment variables
.env
.env.local
.env.*.local

# Build output
build/
dist/
.nyc_output/
coverage/
.next/

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/
*.swp
*.swo   
